node_modules
.DS_Store
target/
node/
.idea/
sonar-example-plugin.iml
.java-version
local-docker-image/extensions/plugins/*
*.iml

# Python (smoke verifier)
**/__pycache__/
*.py[cod]

# Eclipse
.classpath
.project
.settings/
